@using diga.web.Helpers;
@inject diga.dal.Services.ICultureService CultureHelper
@using Microsoft.AspNetCore.Http;
@using diga.dal; 
@inject DigaContext Db
@{
    ViewData["Title"] = CultureHelper.GetTranslation("privacy_policy", Context.Session.GetString("SiteLanguage"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container-fluid">
        <div class="container pb-2 pb-sm-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../home/index"> @CultureHelper.GetTranslation("homepage", Context.Session.GetString("SiteLanguage"))</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@CultureHelper.GetTranslation("privacy_policy", Context.Session.GetString("SiteLanguage"))</li>
                </ol>
            </nav>
            <h1 class="h1-title">
                @CultureHelper.GetTranslation("privacy_policy", Context.Session.GetString("SiteLanguage"))
            </h1>
        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container">
        <div class="privacy">@Html.Raw(CultureHelper.GetTranslation("privacy_policy_html", Context.Session.GetString("SiteLanguage")))</div>
    </div>
</section>