@model diga.bl.Models.Cases

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Cases</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TitleTextId" class="control-label"></label>
                <select asp-for="TitleTextId" class="form-control" asp-items="ViewBag.TitleTextId"></select>
                <span asp-validation-for="TitleTextId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortTextId" class="control-label"></label>
                <select asp-for="ShortTextId" class="form-control" asp-items="ViewBag.ShortTextId"></select>
                <span asp-validation-for="ShortTextId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongTextId" class="control-label"></label>
                <select asp-for="LongTextId" class="form-control" asp-items="ViewBag.LongTextId"></select>
                <span asp-validation-for="LongTextId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewFileUrl" class="control-label"></label>
                <input asp-for="ReviewFileUrl" class="form-control" />
                <span asp-validation-for="ReviewFileUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewVideoUrl" class="control-label"></label>
                <input asp-for="ReviewVideoUrl" class="form-control" />
                <span asp-validation-for="ReviewVideoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
